@model IEnumerable<QuanLyXe.Models.Phancongtx>

@{
    ViewBag.Title = "Lichlamviec";
    Layout = "~/Areas/Taixe/Views/Shared/_LayoutTaixe.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lịch làm việc</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                       
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Mã xe</th>
                        <th>Nhãn hiệu</th>
                        <th>Biển số</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NGAYBATDAU</td>
                            <td>@item.NGAYKETTHUC</td>
                            <td>@item.MAXE</td>
                            <td>@item.NHANHIEU</td>
                            <td>@item.BIENSO</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>



