@using QuanLyXe.Models
@using PagedList.Mvc
@model PagedList.PagedList<Tinhtrangsudungxe>

@{
    ViewBag.Title = "Thongtinxe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thông tin xe</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        </div>

                        <div class="clearfix"></div>
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Mã xe: @item._MAXE | @item._BIENSO</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>@item._NHANHIEU @item._TENLOAIXE</h2>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-fire-extinguisher"></i> Nhiên liệu: @item._NHIENLIEU</li>
                                                <li><i class="fa fa-tachometer"></i> Hộp số: @item._HOPSO</li>
                                                @if (item._TENTINHTRANG == "Tốt")
                                                {
                                                    <li><i class="fa fa-tachometer"></i> Tình trạng: @item._TENTINHTRANG</li>
                                                }
                                                else
                                                {
                                                    <li style="color:red"><i class="fa fa-tachometer"></i> Tình trạng: @item._TENTINHTRANG</li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <a href="~/Content/Hinhxe/@item._HINHXE" target="_blank"><img src="~/Content/Hinhxe/@item._HINHXE" alt="@item._HINHXE" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">

                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            @if (item._TENTRANGTHAI == "Trống")
                                            {
                                                <p style="color:blue" class="fa fa-circle">
                                                    @item._TENTRANGTHAI
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="color:red" class="fa fa-circle">
                                                    @item._TENTRANGTHAI
                                                </p>
                                            }

                                        </div>

                                        <div class="col-xs-12 col-sm-6 emphasis">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Chitietxe","Xe",new { id=item._MAXE })'">
                                                <i class="fa fa-automobile"> </i> Xem chi tiết
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Thongtinxe", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



