@using QuanLyXe.Models
@using PagedList.Mvc
@model PagedList.PagedList<TAIXE>

@{
    ViewBag.Title = "Thongtintaixe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thông tin tài xế</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        </div>

                        <div class="clearfix"></div>
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>@item.HOTENTX</i></h4>
                                        <div class="left col-xs-7">
                                            <h2>Số CMND: @item.CMNDTX</h2>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-calendar"></i> Ngày sinh: @item.NAMSINHTX.Value.Day/@item.NAMSINHTX.Value.Month/@item.NAMSINHTX.Value.Year</li>
                                                <li><i class="fa fa-map-marker"></i> Địa chỉ: @item.DIACHITX</li>
                                                <li><i class="fa fa-phone"></i> SDT: @item.SDTTX</li>
                                                <li><i class="fa fa-at"></i> Số bằng lái: @item.SOBANGLAI</li>

                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <a href="~/Content/Hinhtaixe/@item.CHANDUNG" target="_blank"><img src="~/Content/Hinhtaixe/@item.CHANDUNG" alt="@item.CHANDUNG" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("Chitiettaixe","TTTaixe",new { id=item.TENDNTX })'">
                                                <i class="fa fa-automobile"> </i> Xem chi tiết
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Thongtintaixe", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

